# Database Configuration
MONGO_URL=mongodb://127.0.0.1:27017/wanderlust

# Session Configuration
SESSION_SECRET=mysupersecretcode

# Cloudinary Configuration
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_api_key
CLOUD_API_SECRET=your_api_secret

# Node Environment
NODE_ENV=development
